<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dubboserver.mapper.IUserMapper">
  <resultMap id="BaseResultMap" type="com.example.dubboserver.domain.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="auth_key" jdbcType="VARCHAR" property="authKey" />
    <result column="password_hash" jdbcType="VARCHAR" property="passwordHash" />
    <result column="password_reset_token" jdbcType="VARCHAR" property="passwordResetToken" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_at" jdbcType="INTEGER" property="createdAt" />
    <result column="updated_at" jdbcType="INTEGER" property="updatedAt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="role_chosen" jdbcType="VARCHAR" property="roleChosen" />
  </resultMap>
  <insert id="insert" parameterType="com.example.dubboserver.domain.User">
    insert into user (id, username, mobile, 
      auth_key, password_hash, password_reset_token, 
      email, status, created_at, 
      updated_at, create_time, update_time, 
      role_chosen)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{authKey,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR}, #{passwordResetToken,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{createdAt,jdbcType=INTEGER}, 
      #{updatedAt,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{roleChosen,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dubboserver.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="authKey != null">
        auth_key,
      </if>
      <if test="passwordHash != null">
        password_hash,
      </if>
      <if test="passwordResetToken != null">
        password_reset_token,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="roleChosen != null">
        role_chosen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="authKey != null">
        #{authKey,jdbcType=VARCHAR},
      </if>
      <if test="passwordHash != null">
        #{passwordHash,jdbcType=VARCHAR},
      </if>
      <if test="passwordResetToken != null">
        #{passwordResetToken,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleChosen != null">
        #{roleChosen,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findById" resultMap="BaseResultMap" parameterType="int">
      select * from user where id=#{0}
  </select>
  <select id="findNameById" resultType="java.lang.String" parameterType="int">
          select username as username from user where id=#{id}
  </select>

</mapper>